<div id="palm-dialog-content" class="palm-dialog-content">
    <div class="palm-dialog-title">
        Add Package
    </div>
	<div class="palm-dialog-separator"></div>

	<div class="textfield-group" x-mojo-focus-highlight="true">
		<div class="title">
			<div id="label" class="label">Name</div>
			<div x-mojo-element="TextField" id="name"></div>
		</div>    
	</div>

	<div class="palm-row" x-mojo-tap-highlight="momentary" style="margin: -1px -18px 0 -18px;">
		<div class="palm-row-wrapper">
			<div id="service" x-mojo-element="ListSelector"></div>   
		</div>    
	</div>

	<div class="textfield-group" x-mojo-focus-highlight="true" style="border-right:0px">
		<div class="title">
			<div class="label">Tracking ID <img id="pasteid" style="vertical-align:middle;" src=images/paste.png></div>
			<div x-mojo-element="TextField" id="id"></div>
		</div>    
	</div>

    <div class="palm-dialog-buttons">
		<div id="save" class="palm-button affirmative buttonfloat" x-mojo-tap-highlight="momentary">Save</div>
		<div id="cancel" class="palm-button buttonfloat" x-mojo-tap-highlight="momentary">Cancel</div>
    </div>

</div>