<div class="palm-row" style="padding-top:3px;padding-bottom:0px;background-color:#{-servicecolor}" x-mojo-tap-highlight="momentary">
	<div class="palm-row-wrapper" style="padding-left:14px;padding-right:4px">
		<table border=0 cellpadding=0 cellspacing="0">
			<tr>
				<td width=100%>
					#{-bold_s}#{-name}#{-bold_e}#{-refreshing}
				</td>
				<td rowspan="2">
					<img src="images/status_#{-status}.png">
				</td>
			</tr>
			<tr>
				<td style="font-size:14px;color:black">
					#{-lastmodifiedstring} &nbsp;&nbsp;&nbsp;#{-servicename}
				</td>
			</tr>
		</table>
	</div>
</div>
