<div id="main">
	<div class="palm-page-header">
		<div class="header-icon custom"></div>
		<div class="header-text">
			<span x-mojo-loc=''>Package Tracker</span>
		</div>
		<div class="header-sliding-toggle" style="right:10px;top:10px">
			<div x-mojo-element="Spinner" id="waiting_spinner_top"></div>
		</div>
	</div>

	<!--<div x-mojo-element="List" id="parcelslist" class="listClass" name="listName"></div>-->
	<div x-mojo-element="FilterList" id="parcelslist" class="listClass" name="listName"></div>
	
	<center>
		<div id="tipsdiv" style="display:none;width:240px;font-size:18px;color:grey;">
			<br>Tip: Read the <a id="starthelp">Manual</a><br>and the <a id="startfaqs">FAQs</a>
		</div>
		<!-- LITE START --
		<div id="litediv" style="display:none;width:240px;font-size:18px;color:grey;">
			<br>To track more than two packages please buy the<br><a href="http://developer.palm.com/webChannel/index.php?packageid=de.omoco.paketverfolgung">full version</a>.
		</div>
		-- LITE STOPP -->
	</center>
</div>

