<div id="main">
	<div class="palm-page-header">
		<div class="header-icon custom"></div>
		<div class="header-text">
			<span x-mojo-loc=''>Acknowledgments</span>
		</div>
	</div>
	
	<div class="explanation-text">
		<b style="font-size:16px">Used software:</b><br>
		<br>
		<b>Date Format 1.2.3</b><br>
		&copy; 2007-2009 Steven Levithan<br>
		License: <a href="http://www.opensource.org/licenses/mit-license.php">MIT license</a><br>
		Homepage: <a href="http://stevenlevithan.com">http://stevenlevithan.com</a><br>
		<br>
		<b>JavaScript implementation of SHA-1 V.2.2</b><br>
		&copy; 2000-2009 Paul Johnston<br>
		License: <a href="http://www.opensource.org/licenses/bsd-license.php">BSD License</a><br>
		Homepage: <a href="http://pajhome.org.uk/crypt/md5">http://pajhome.org.uk/crypt/md5</a><br>
		<br>
		<b>Package icon by Everaldo Coelho</b><br>
		&copy; Everaldo Coelho<br>
		License: <a href="http://www.gnu.org/licenses/lgpl.html">LGPL</a><br>
		Homepage: <a href="http://everaldo.com">http://everaldo.com</a><br>
		<br>
		<b>Paste icon by Oxygen Team</b><br>
		&copy; Oxygen Team<br>
		License: <a href="http://www.gnu.org/licenses/lgpl.html">LGPL</a><br>
		Homepage: <a href="http://oxygen-icons.org">http://oxygen-icons.org</a><br>
		<br>
		<hr>
		<br>
		<b style="font-size:16px">Betatesters:</b><br><br>
		Thanks to all members of the <a href="http://www.nexave.de/forum/index.php">Nexave forums</a>. They all helped me a lot. I can recommend this (German) forums for all questions about webOS.<br>
		<br>
		The official (German) thread is here: <a href="http://www.nexave.de/forum/38908-app-pakettracker.html">click</a>.<br>
		<br>
		A special thanks to all my betatesters. Here an uncomplete list: Thomas Hennecke, Joerg Pohl, Frank Schlicht, "Talorin", [...]
		
	</div>
	<br><br>
</div>