<div class="dashboard-notification-module single" id="dashboard-tasks">
	<div class="palm-dashboard-icon-container" id="dashboard-list">
		<div class="dashboard-newitem" id="dashboard-countbox" style="display:none">
			<span id="dashboard-count">0</span>
		</div>
		<div id='dashboard-icon' class="palm-dashboard-icon dashboard-task-icon"></div>
	</div>   
	<div class="palm-dashboard-text-container" id='dashboard-item'>
		<div class="dashboard-title" id="dashboard-title">
			Package Tracker
		</div>
		<div class="palm-dashboard-text" id="dashboard-subtitle">
			Tap here to open the app
		</div>
	</div>
</div>