<div id="main">
	<div class="palm-page-header">
		<div class="header-icon custom"></div>
		<div class="header-text">
			<span x-mojo-loc=''>Unternehmen Verwalten</span>
		</div>
		<div class="header-sliding-toggle" style="right:10px;top:10px">
			<div id="togglehelp" class="help-button"></div>
		</div>
	</div>

	<div class="prefs-helptext" name="helptext">Hier kann die Liste der Unternehmen angepasst werden. Die Reihenfolge kann per Drag&Drop verändert werden. Wird ein Unternehmen deakti-viert, wird es nicht mehr in der Liste der verfüg-baren Unternehmen angezeigt. Unternehmen, die direkt aus dem Web aufgerufen werden, können nicht passend in der Liste einsortiert werden.</div>

	<div x-mojo-element="List" id="serviceslist" class="listClass" name="listName"></div>
	<!--<div x-mojo-element="FilterList" id="parcelslist" class="listClass" name="listName"></div>-->
	
	<div id="resetservices" class="palm-button negative buttonfloat" x-mojo-tap-highlight="momentary">Unternehmen Zurücksetzen</div>
</div>